<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{author.id}}'s Favorite Books</title>
</head>
<body>
    <div class="container">
        <div class="favorites">
            <h2>{{author.name}}'s Favorite Books</h2>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Number of Pages</th>
                </tr>
                {% for books in author.favorite_books %}
                <tr>
                    <td>{{favorite_books.title}}</td>
                    <td>{{favorite_books.num_of_pages}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="add_fave">
            <h2>Add to {{author.name}}'s Favorites</h2>
            <select name="book" id="book">
                {% for title in all_books %}
                <option value="{{book.title}}">{{book.title}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Add">
        </div>
    </div>
</body>
</html>